WinPure.ContactManagement/WinPure.ContactManagement.Client.Data/Service References/SyncService/SyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ISyncService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://x-a-k-e-p-pc:8000/WinPure/SyncService/?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://x-a-k-e-p-pc:8000/WinPure/SyncService/?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://x-a-k-e-p-pc:8000/WinPure/SyncService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="ISyncService_UploadFile_OutputMessage" />
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:portType name="ISyncService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/UploadFile" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/UploadFileResponse" message="tns:ISyncService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/DownloadFile" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/DownloadFileResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISyncService" type="tns:ISyncService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ISyncService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/ISyncService/UploadFile" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/ISyncService/DownloadFile" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncService">
    <wsdl:port name="BasicHttpBinding_ISyncService" binding="tns:BasicHttpBinding_ISyncService">
      <soap:address location="http://x-a-k-e-p-pc:8000/WinPure/SyncService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>